<div class="container">
    <h2>
        Salvar Contato
    </h2>
    <form #contatoForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text"[ngClass]="getFormControlClass(nome.valid, nome.pristine)" placeholder="Insira o nome" 
                name="nome"  
                #nome="ngModel" 
                required            
                [(ngModel)]="contato.nome"
               >
              <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo nome é obrigatório!</div>
              
        </div>
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Insira o e-mail"  
                name="email"  
                required             
                [(ngModel)]="contato.email">
        </div>
         <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" placeholder="Insira o telefone"
             name="telefone" 
             required              
             [(ngModel)]="contato.telefone">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a (click)="goBack()" class="btn btn-secondery">Voltar</a>        
    </form>
</div>